{% extends "!layout.html" %}

{% set customsidebar = 'quicklinks.html' %}
{% set title = 'Neuroimaging in Python' %}
<!-- disable newsfeed as it is not being maintained -->
<!-- {% include "newsfeed.html" %} -->

{% block rootrellink %}
  <li><a href="{{ pathto('index') }}">Community</a> |&nbsp;</li>
  <li><a href="{{ pathto('devel/index') }}">Development</a> |&nbsp;</li>
  <li><a href="http://nipy.org/software/projects">Software</a> |&nbsp;</li>
  <li><a href="http://projects.scipy.org/mailman/listinfo/nipy-devel">Mailing list</a> |&nbsp;</li>
  <li><a href="{{ pathto('software/license/index') }}">License</a> |&nbsp;</li>
{% endblock %}


{% block extrahead %}
  <meta name="keywords" content="nipy, neuroimaging, python, neuroscience">
{% endblock %}

{% block header %}
<div style="background-color: white; text-align: left; padding: 10px 10px 15px 15px">
 <a href="{{pathto('index') }}">
  <img src="{{ pathto("_static/nipy-community-banner-gy.png", 1) }}" alt="NIPY logo"  border="0" />
</div>
{% endblock %}

{% block body %}

  <table class="contentstable"<tr>
    <td width="60%">
      <p>The purpose of NIPY is to make it easier to do better brain imaging
      research.  We believe that neuroscience ideas and analysis ideas
      develop together.  Good ideas come from understanding; understanding comes
      from clarity, and clarity must come from well-designed teaching
      materials and well-designed software.  The software must be designed
      as a natural extension of the underlying ideas.</p>
      <p>We aim to build software that is:</p>
      <ul class="simple">
      <li>clearly written</li>
      <li>clearly explained</li>
      <li>a good fit for the underlying ideas</li>
      <li>a natural home for collaboration</li>
      </ul>

    </td><td width="30%" align="left" valign="top">

    <!-- disable newsfeed as it is not being maintained -->
    <!--  <div id="newsfeed">Loading...</div> -->

    </td></tr>
  </table>


  <h2>Software Projects</h2>
  <table class="contentstable" align="center" style="margin-left: 30px">
    <tr>
    <td width="30%">
      <p class="biglink"><a class="biglink" href="http://nipy.org/nipy">nipy</a><br/>
         <span class="linkdescr">analysis</span></p></td>
    <td width="30%">
      <p class="biglink"><a class="biglink" href="http://nipy.org/nipype">nipype</a><br/>
         <span class="linkdescr">pipeline and interfaces</span></p></td>
    <td width="30%">
      <p class="biglink"><a class="biglink" href="http://nipy.org/nitime">nitime</a><br/>
         <span class="linkdescr">timeseries</span></p></td>
    </tr>
    <tr>
    <td width="30%">
      <p class="biglink"><a class="biglink" href="http://nipy.org/nibabel">nibabel</a><br/>
         <span class="linkdescr">file i/o</span></p></td>
    <td width="30%">
      <p class="biglink"><a class="biglink" href="http://nipy.org/dipy">dipy</a><br/>
         <span class="linkdescr">diffusion imaging</span></p></td>
    <td width="30%">
      <p class="biglink"><a class="biglink" href="http://github.com/nipy/pbrain">pbrain</a><br/>
         <span class="linkdescr">EEG and ECoG</span></p></td>
    </tr>
  </table>

{% endblock %}


{% block relbar2 %}{% endblock %}

{% block sidebar1 %}{{ sidebar() }}{% endblock %}
{% block sidebar2 %}{% endblock %}
