{% block community %}
<h3>Community</h3>

<ul>
<li><a href="http://projects.scipy.org/mailman/listinfo/nipy-devel">Mailing list</a></li>
<li><a href="{{ pathto('community/sprints/sprints') }}"> Sprints</a></li>
</ul>
{% endblock %}

{% block software %}
<h3>Software</h3>

<ul>
<li><a href="{{ pathto('software/projects/contents') }}"> Projects</a></li>
<li><a href="{{ pathto('software/guidelines/contents') }}"> Guidelines</a></li>
<li><a href="{{ pathto('software/license/contents') }}"> License</a></li>
</ul>
{% endblock %}

{% block quicklinks %}
<h3>About</h3>

<ul>
<li><a href="{{ pathto('about/history') }}"> History</a></li>
<li><a href="{{ pathto('about/publications/contents') }}"> Publications</a></li>
<li><a href="{{ pathto('about/funding') }}"> Funding</a></li>
</ul>
{% endblock %}

